.medcheck-text-highlight {
  background: rgba(255, 244, 125, 0.5);
  box-shadow:0 0 0 5px rgba(255, 244, 125, 0.5);
  color:#605c31;
  /* animation: textError .6s ease infinite; */
  border-radius:16px;
}
/*
@keyframes textError {
  0%   {  box-shadow:0 0 0 5px rgba(255, 244, 125, 0.5); }
  50%  {  box-shadow:0 0 0 8px rgba(255, 244, 125, 0.7); background: rgba(255, 244, 125, 0.7); }
  100% {  box-shadow:0 0 0 5px rgba(255, 244, 125, 0.5); }
} */



.medcheck-indicator {
  display: none !important;
  cursor:default !important;
  position: fixed !important;
  z-index:999999999999 !important;
  left:20px !important; bottom:20px !important;
  color:#fff !important;
  height:30px !important;
  min-width:30px !important;
  border-radius:15px !important;
  background: #d12c8d !important;
  font-family: Roboto !important;
  font-weight:900 !important;
  padding:0 !important;
  line-height:30px !important;
  font-size:16px !important;
  text-align:center !important;

  box-shadow:0 0 0 2px #fff;
}

.medcheck-indicator.active {
  display: block !important;
}
